/* Cera Font */

@font-face {
  font-family: 'Cera Pro Medium';
  src: local('Cera Pro Medium'), local('Cera Pro Medium'),
    url('../public/font/CeraProMedium.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Regular';
  src: local('Cera Pro Regular'), local('Cera Pro Regular'),
    url('../public/font/CeraProRegular.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: local('Cera Pro Medium'), local('Cera Pro Medium'),
    url('../public/font/CeraProMedium.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro Black';
  src: local('Cera Pro Black'), local('Cera Pro Black'),
    url('../public/font/CeraProBlack.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro Light';
  src: local('Cera Pro Light'), local('Cera Pro Light'),
    url('../public/font/CeraProLight.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro Medium';
  src: local('Cera Pro Medium'), local('Cera Pro Medium'),
    url('../public/font/CeraProMedium.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* 
@font-face {
  font-family: 'Cera Pro Regular';
  src: local('Cera Pro Regular'), local('Cera Pro Regular'),
    url('../public/font/Pro\ Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Light';
  src: local('Cera Pro Light'), local('Cera Pro Light'),
    url('../public/font/Pro\ Light.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */
