@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('font.css');
@import url('variables.css');

:root {
  --br: 16;
  --x: 0;
  --y: 4;
  --blur: 1;
  --spread: 0;
  --shadow1: #eee;
  --shadow2: #4444440d;
  --shadow3: #42474c59;
  --size: 20rem;
}
html,
body {
  padding: 0;
  margin: 0;
  background: rgb(243, 245, 246);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Euclid Circular A' !important;
}

.container {
  max-width: 1256px;
  margin: auto;
}

/* comment */
.comment-thread {
  width: 700px;
  max-width: 100%;
  margin: 20px auto;
  padding: 0 30px;
  background-color: #fff;
  border: 1px solid transparent;
  position: relative;
}
